<!-- wp:acf/announcement-banner {"name":"acf/announcement-banner", "data":{"visible":"1"}} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"js-header"} /-->

<!-- wp:group {"tagName":"main","className":"mt-4"} -->
<main class="wp-block-group mt-4">
    <!-- wp:group {"align":"full","className":"py-48 lg:py-52","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"purple-700","textColor":"white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull py-48 lg:py-52 has-white-color has-purple-700-background-color has-text-color has-background has-link-color">
        <!-- wp:heading {"textAlign":"center","className":"text-display-1"} -->
        <h2 class="wp-block-heading has-text-align-center text-display-1">404</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center text-xl mb-10 font-bold"} -->
        <p class="has-text-align-center text-xl mb-10 font-bold">Sorry, the page you’re looking for was not found.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons">
            <!-- wp:button {"className":"is-style-white"} -->
            <div class="wp-block-button is-style-white">
                <a class="wp-block-button__link wp-element-button" href="http://localhost:10003/">Back to Home</a>
            </div>
            <!-- /wp:button -->
            </div>
    <!-- /wp:buttons -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->